Canvas {
    background-color: #fefefe;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #efefef;
    cursor: url(fadenkreuz.png),  auto; 
}
body {
    font-family: 'Comfortaa';
}