*{
margin: 0px; padding: 0px;}
body{ font-family: verdana;background: #F8F2E2;
 background: linear-gradient(left, #F8F2E2 0%, #F7BE81 99%, #F7BE81 100%);
  background: -webkit-linear-gradient(left, #F8F2E2 0%, #F7BE81 99%, #F7BE81 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F8F2E2, endColorstr=#F7BE81,GradientType=1);



}

#wrapper{
 width: 1050px;
 margin: 0px auto;

}

#mainheader { width:1050; height;100px; float:left;}
h2 { padding-left: 330px; padding-top: 30px;}
#headerbild {
  background:url(LebeSmartBild.jpg);
  bachground-repeat:norepeat;
  width:1050px;
  height:100px;
  float:left;
}

ul#navmenu,#navi-footer {
 margin-top:2px;
 width: 1050px;
 height:35px;
 background-color:#F7BE81;
 float:left;
}

p {margin-top:30px;
    width: 400px;
    float:left;
}

ul#navmenu, ul.sub1, ul.sub2,#navi-footer{
 list-style-type: none;
 background-color:#F7BE81;
}


ul#navmenu li{
 margin-right: 5px;
 width: auto;
 text-align:left;
 position: relative;
 float: left;
 padding-left:20px;

}

ul#navmenu a{
 padding-left: 3px;
 text-decoration:none;
 height: 35px;
 line-height: 35px;

 color:black;
 display: block;
}



ul#navmenu .sub1 a{ margin-top: 26px; }
ul#navmenu .sub2 a{ margin-top: 26px; margin-left: 10px;}
ul#navmenu ul.sub1 {display: none;position: absolute;top:26px;left:0px;}
ul#navmenu ul.sub2 { display: none; position: absolute; top: 0px; left:126px; }

ul#navmenu li:hover > a{display:block; color: red;}
ul#navmenu li:hover a:hover{display:block; color: red;}
ul#navmenu li:hover .sub1{display:block;}
ul#navmenu .sub1 li:hover .sub2{display:block; }


#areazero {width: 4px;float: left;height: 610px;margin-right: 0px;box-shadow: 10px 20px 30px brown;}
#areaone {width: 600px;float: left;height: 610px;padding-top=10px;padding-left:10px;color: black;}
img#dasbild{margin-right:0px;margin-top:30px;width: 300px;float: right;height: 610px;}

#textfeld {float:left;width: 1050px;float: left;height: 100px;background-image: url(kamel.jpg);background-repeat: no-repeat;
    text-align: left;color:red;}


#navi-footer li{
 margin-right: 5px;
 width: auto;
 text-align:left;
 float: left;
  padding-left:20px;
}